@model AdminDesk.Models.Serviceordre

@{
    ViewData["Title"] = "Details";
}

<style>
    html, body {
        background-color: #d9e5eb;
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        color: #313638;
    }
</style>
<h1>Details</h1>

<div>
    <h4>Serviceordre</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Navn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Navn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefon)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mottatt_dato)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mottatt_dato)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Adresse)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ordrenummer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ordrenummer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceordreStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceordreStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Arbeidstimer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Arbeidstimer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reparatør)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reparatør)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
