
    <!-- Inkluderingsinstruksjoner og modelldefinisjon -->
    @using AdminDesk.Models.ServiceOrder;
    @model ServiceOrderFullViewModel

    <!-- Head-seksjon med stiler og jQuery-script -->
    <head>
        <link rel="stylesheet" href="@Url.Content("~/css/site.css")">
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

        <!-- jQuery-script for å håndtere klikkhendelser -->
        <script>
            $(document).ready(function () {
                $(".clickable").click(function () {
                    window.location = $(this).find("a").attr("href");
                });
            });
       
        </script>

        <!-- Intern CSS-stil -->
    <style>
        html, body {
            font-size: 1rem;
            background-color: #d9e5eb;
            margin: 0;
            padding: 0;
            font-family: sans-serif;
            color: #313638;
        }

        h1 {
            font-size: 1rem;
            text-align: center;
            margin-top: 5%;
        }

        p {
            font-size: 1rem;
            margin-top: 1rem;
            text-align: center;
        }

        table {
            border-collapse: collapse;
            width: 100% !important;
            margin-top: 1% !important;
            margin-bottom: 2% !important;
            margin: auto;
        }

        th, td {
            
            width: 15rem;
            border: 1px solid #000;
            padding: 1%;
            text-align: center;
            
        }
        tr {
            background-color: #f2f2f2;

        }

            td a {
                text-decoration: none;
                color: inherit;
            }

        tr:hover {
            background-color: #d9d9d9 !important;
            
        }

        .clickable {
            cursor: pointer;
        }

            .clickable a {
                color: #333;
                text-decoration: none;
            }

                .clickable a:hover {
                    text-decoration: underline;
                }

        .button-container {
            text-align: center;
            margin-top: 5%;
        }

        .button {
            font-size: 14px;
            display: inline-block;
            padding: 1rem 2rem;
            background-color: #88afc2;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
            color: black;
            text-decoration: none;
        }

            .button a {
                text-decoration: none;
                color: black;
            }

            .button:hover {
                background-color: rgb(251, 114, 19);
                color: black;
            }

        .search-container {
            text-align: center;
            margin-top: 3%;
        }


        #search {
            padding: 0.5rem;
            margin-right: 0.5rem;
            width: 30rem;
        }

        #searchButton {
            font-size: 14px;
            display: inline-block;
            padding: 0.5rem 1rem;
            background-color: #88afc2;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
            color: black;
            text-decoration: none;
        }

            #searchButton:hover {
                background-color: rgb(251, 114, 19);
                color: black;
            }
    </style>
</head>
<body>
    <div class="blokk">
        <div class="Top">
            Serviceordrer
        </div>

        <div class="button-container">
            <a class="button" asp-controller="ServiceOrder" asp-action="NyServiceOrdre">Legg inn ny ordre</a>
        </div>
        <div class="search-container">
            <label for="search">Søk: </label>
            <input type="text" id="search" name="search" placeholder="Søk etter ordrenummer">
            <button id="searchButton" onclick="searchOrders()">Søk</button>
        </div>

        <table>
            <thead>
                <tr>
                    <th>Order Number</th>
                    <th>Customer Name</th>
                    <th>Contact Phone</th>
                    <th>Status</th>
                    <th>Created Date</th>
                    <th>Mechanic</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var serviceOrder in Model.ServiceOrderList)
                {
                    <tr class="clickable">
                        <td><a href="@Url.Action("Spesific", "ServiceOrder", new { id = serviceOrder.ServiceOrderId })">@serviceOrder.ServiceOrderId</a></td>
                        <td><a href="@Url.Action("Spesific", "ServiceOrder", new { id = serviceOrder.ServiceOrderId })">@($"{serviceOrder.Customer?.CustomerFirstName} {serviceOrder.Customer?.CustomerLastName}")</a></td>
                        <td><a href="@Url.Action("Spesific", "ServiceOrder", new { id = serviceOrder.ServiceOrderId })">@serviceOrder.Customer?.CustomerPhoneNumber</a></td>
                        <td><a href="@Url.Action("Spesific", "ServiceOrder", new { id = serviceOrder.ServiceOrderId })">@serviceOrder.OrderStatus</a></td>
                        <td><a href="@Url.Action("Spesific", "ServiceOrder", new { id = serviceOrder.ServiceOrderId })">@serviceOrder.CreatedDate.ToString("yyyy-dd-MM")</a></td>
                        <td><a href="@Url.Action("Spesific", "ServiceOrder", new { id = serviceOrder.ServiceOrderId })">@serviceOrder.Mechanic</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
        $(document).ready(function () {
            $(".clickable").click(function () {
                window.location = $(this).find("a").attr("href");
            });
        });
        function searchOrders() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("search");
            filter = input.value.toUpperCase();
            table = document.querySelector("table");
            tr = table.getElementsByTagName("tr");

            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }

            }
        }

    </script>

</body>



