@using AdminDesk.Models.ServiceOrdrer;
@model ServiceOrderFullViewModel

<head>
    <link rel="stylesheet" href="@Url.Content("~/css/site.css")">

    <style>

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid red;
            padding: 8px;
            text-align: left;
        }

    </style>

</head>
<body>


    <div class="blokk">

        <div class="Top">
            ServiceOrdrer

        </div>
        <div class="TopMid">
            Sorter: Lav til høyt

        </div>
        <div>
            <a asp-controller="ServiceOrder" asp-action="NyServiceOrdre">Ny Ordre</a>

        </div>

        <div class="Bottom">
           
            <table>
                <tr>
                    <th>ServiceOrderId</th>
                    <th>CustomerName</th>
                    <th>CustomerCity</th>
                    <th>Ordre detaljer</th>
                </tr>
                @foreach (var ServiceOrdrer in Model.ServiceOrdreList)
                {
                    <tr>
                        <td><a href="@Url.Action("Spesific", "ServiceOrder", new { id = ServiceOrdrer.ServiceOrderId })">@ServiceOrdrer.ServiceOrderId</a></td>

                        <td>@ServiceOrdrer.CustomerName</td>

                        <td>@ServiceOrdrer.CustomerCity</td>
                    </tr>
                }
            </table>



        </div>
    </div>
</body>

