@using AdminDesk.Models.ServiceOrder;
@model CompositeViewModel

<!DOCTYPE html>

<html>
<head>
    <title>Service Order Details</title>
    <style>
        html, body {
            background-color: #d9e5eb;
            margin: 0;
            padding: 0;
            font-family: sans-serif;
            color: #313638;
        }

        .details-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: left;
            max-width: 70%;
            margin: 0 auto;
            padding: 2%;
        }


        h1, h2 {
            text-align: center;
        }

        h1 {
            margin-top: 5%;
        }

        table {
            border-collapse: collapse;
            width: 100%;
            margin-top: 20px;
            margin-bottom: 40px;
        }

        th, td {
            padding: 0.5rem;
            border: 1px solid #ddd;
            text-align: left;
            background-color: #f2f2f2;
        }

        th {
            background-color: #f2f2f2;
        }

        p {
            color: #666;
        }

        .button-container {
            text-align: center;
            margin-top: 1rem;
        }

        .button {
            display: inline-block;
            padding: 0.2rem 0.4rem;
            background-color: #88afc2;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
            color: black;
            text-decoration: none;
            margin: 0.5rem;
        }

            .button:hover {
                background-color: rgb(251, 114, 19);
                color: black;
            }

        .clickable {
            margin-top: 20px;
            color: #000;
            text-decoration: none;
        }

        .center {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>


    <h1>Ordre Detaljer</h1>

    <div class="center">
        <p class="button-container">
            <div class="clickable">
                <a class="btn btn-primary button" href="@Url.Action("Index", "Report", new { id = @Model.ServiceOrderModel.UpsertModel.ServiceOrderId })">Ny Raport</a>
                <a class="btn btn-primary button" href="@Url.Action("ServiceOrderEdit", "ServiceOrder", new { id = @Model.ServiceOrderModel.UpsertModel.ServiceOrderId })">Rediger</a>
                <a class="btn btn-success button" href="@Url.Action("Index", "CheckList", new { id = @Model.ServiceOrderModel.UpsertModel.ServiceOrderId })">SjekkListe</a>
                <a asp-action="Index" class="button">Tilbake til liste</a>
            </div>
        </p>
    </div>

    <br />
    <h2>Kunde Detaljer</h2>
    @if (Model.ServiceOrderModel.UpsertModel.Customer != null)
    {
        <table>
            <tr>
                <th>Kunde ID</th>
                <th>Fornavn</th>
                <th>Etternavn</th>
                <th>Email</th>
                <th>Gate</th>
                <th>By</th>
                <th>Postadresse</th>
                <th>Mobilnummer</th>
                <th>Kunde Kommentar</th>
            </tr>
            <tr>
                <td>@Model.ServiceOrderModel.UpsertModel.Customer.CustomerId</td>
                <td>@Model.ServiceOrderModel.UpsertModel.Customer.CustomerFirstName</td>
                <td>@Model.ServiceOrderModel.UpsertModel.Customer.CustomerLastName</td>
                <td>@Model.ServiceOrderModel.UpsertModel.Customer.CustomerEmail</td>
                <td>@Model.ServiceOrderModel.UpsertModel.Customer.CustomerStreet</td>
                <td>@Model.ServiceOrderModel.UpsertModel.Customer.CustomerCity</td>
                <td>@Model.ServiceOrderModel.UpsertModel.Customer.CustomerZipcode</td>
                <td>@Model.ServiceOrderModel.UpsertModel.Customer.CustomerPhoneNumber</td>
                <td>@Model.ServiceOrderModel.UpsertModel.Customer.CustomerComment</td>
            </tr>
        </table>
    }
    else
    {
        <p>Ingen kunde til denne ordren</p>
    }

    <h2>Service Ordre Detaljer</h2>
    <table>
        <tr>
            <th>Mekaniker</th>
            <td>@Model.ServiceOrderModel.UpsertModel.Mechanic</td>
        </tr>
        <tr>
            <th>Serienummer</th>
            <td>@Model.ServiceOrderModel.UpsertModel.SerialNumber</td>
        </tr>
        <tr>
            <th>Dato opprettet</th>
            <td>@Model.ServiceOrderModel.UpsertModel.CreatedDate.ToString("yyyy-dd-MM")</td>
        </tr>
        <tr>
            <th>Leder Kommentar</th>
            <td>@Model.ServiceOrderModel.UpsertModel.Comment</td>
        </tr>
        <tr>
            <th>Sannsynlig videre vedlikehold</th>
            <td>@Model.ServiceOrderModel.UpsertModel.FutureMaintenance</td>
        </tr>
        <tr>
            <th>Opprettet av</th>
            <td>@Model.ServiceOrderModel.UpsertModel.CreatedById</td>
        </tr>
        <tr>
            <th>Ordre Status</th>
            <td>@Model.ServiceOrderModel.UpsertModel.OrderStatus</td>
        </tr>
        <tr>
            <th>Antatte arbeidstimer</th>
            <td>@Model.ServiceOrderModel.UpsertModel.TotalWorkHours</td>
        </tr>
    </table>
    <br />

    <h2></h2>

    <h2>Report Details</h2>
    @if (Model.ReportModel.ReportList != null && Model.ReportModel.ReportList.Any())
    {
        <table>
            <tr>
                <th>Report ID</th>
                <th>Mekaniker/e</th>
                <th>Kommentar</th>
                <th>Service Type</th>
                <th>Beskrivelse</th>
                <th>Opprettet Dato</th>
                <th>Laget av</th>
                <!-- Add more columns as needed -->
            </tr>
            @foreach (var report in Model.ReportModel.ReportList)
            {
                <tr>
                    <td>@report.ReportId</td>
                    <td>@report.Mechanic</td>
                    <td>@report.MechanicComment.</td>
                    <td>@report.ServiceType</td>
                    <td>@report.ServiceDescription.</td>
                    <td>@report.ReportWriteDate.ToString("yyyy-dd-MM")</td>
                    <td>@report.UserSign</td>
                    <!-- Add more cells as needed -->
                </tr>
            }
        </table>
    }
    else
    {
        <p>Ingen rapporter</p>
    }


</body>
</html>
