@using AdminDesk.Models.ServiceOrder;
@model CompositeViewModel

<!DOCTYPE html>
<html>

<head>
    <title>Service Order Details</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <style>
        body {
            background-color: #d9e5eb;
            font-family: sans-serif;
            color: #313638;
            margin: 0;
        }

        .details-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: left;
            max-width: 70%;
            margin: 0 auto;
            padding: 2%;
        }

        h1, h2 {
            text-align: center;
        }

        table {
            width: 100%;
            margin-top: 1rem;
            border-collapse: collapse;
            margin-bottom: 2rem;
        }

        th, td {
            padding: 0.5rem;
            border: 1px solid #ddd;
            text-align: left;
            background-color: #f2f2f2;
        }

        .button-container {
            text-align: center;
            margin-top: 1rem;
        }

        .button {
            display: inline-block;
            padding: 0.2rem 0.4rem;
            background-color: #88afc2;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
            color: black;
            text-decoration: none;
            margin: 0.5rem;
        }

            .button:hover {
                background-color: rgb(251, 114, 19);
                color: black;
            }
    </style>
</head>

<body>
    <div class="details-container">

        <h2>Serviceorder Detaljer</h2>
        <table>
            <tr>
                <th>ID</th>
                <td>@Model.ServiceOrderModel.UpsertModel.ServiceOrderId</td>
            </tr>
            <tr>
                <th>Customer ID</th>
                <td>@Model.ServiceOrderModel.UpsertModel.CustomerId</td>
            </tr>
            <tr>
                <th>Reperatør</th>
                <td>@Model.ServiceOrderModel.UpsertModel.Mechanic</td>
            </tr>
            <tr>
                <th>Serienummer</th>
                <td>@Model.ServiceOrderModel.UpsertModel.SerialNumber</td>
            </tr>
            <tr>
                <th>Dato Opprettet</th>
                <td>@Model.ServiceOrderModel.UpsertModel.CreatedDate</td>
            </tr>
            <tr>
                <th>Kommentar</th>
                <td>@Model.ServiceOrderModel.UpsertModel.Comment</td>
            </tr>
            <tr>
                <th>Fremtidig Vedlikehold</th>
                <td>@Model.ServiceOrderModel.UpsertModel.FutureMaintenance</td>
            </tr>
            <tr>
                <th>Order Status</th>
                <td>@Model.ServiceOrderModel.UpsertModel.OrderStatus</td>
            </tr>
            <tr>
                <th>Reserve Deler</th>
                <td>@Model.ServiceOrderModel.UpsertModel.ReserveDeler</td>
            </tr>
            <tr>
                <th>Total Arbeidstimer</th>
                <td>@Model.ServiceOrderModel.UpsertModel.TotalWorkHours</td>
            </tr>
            <!-- Add other Customer details as needed -->
        </table>


        <h2>Customer Details</h2>

        @if (Model.ServiceOrderModel.UpsertModel.Customer != null)
        {
            <!-- Customer details table -->
            <table>
                <tr>
                    <th>Customer ID</th>
                    <td>@Model.ServiceOrderModel.UpsertModel.Customer.CustomerId</td>
                </tr>
                <tr>
                    <th>First Name</th>
                    <td>@Model.ServiceOrderModel.UpsertModel.Customer.CustomerFirstName</td>
                </tr>
                <tr>
                    <th>Last Name</th>
                    <td>@Model.ServiceOrderModel.UpsertModel.Customer.CustomerLastName</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>@Model.ServiceOrderModel.UpsertModel.Customer.CustomerEmail</td>
                </tr>
                <tr>
                    <th>Adresse</th>
                    <td>@Model.ServiceOrderModel.UpsertModel.Customer.CustomerStreet</td>
                </tr>
                <tr>
                    <th>By</th>
                    <td>@Model.ServiceOrderModel.UpsertModel.Customer.CustomerCity</td>
                </tr>
                <tr>
                    <th>Landskode</th>
                    <td>@Model.ServiceOrderModel.UpsertModel.Customer.CustomerZipcode</td>
                </tr>
                <tr>
                    <th>Telefon</th>
                    <td>@Model.ServiceOrderModel.UpsertModel.Customer.CustomerPhoneNumber</td>
                </tr>
                <tr>
                    <th>Kommentar</th>
                    <td>@Model.ServiceOrderModel.UpsertModel.Customer.CustomerComment</td>
                </tr>
                <!-- Add other Customer details as needed -->
            </table>
        }
        else
        {
            <p>
                No customer information available.
                @if (Model.ServiceOrderModel.UpsertModel.Customer == null)
                {
                    <strong>Customer is null.</strong>
                }
            </p>
        }

        <!-- Move the 'Report Details' heading outside the 'Customer Details' block -->
        <h2>Report Details</h2>

        @if (Model.ReportModel.UpsertModel != null)
        {
            var reportsForServiceOrder = Model.ReportModel.ReportList
            .Where(report => report.ServiceOrderId == Model.ServiceOrderModel.UpsertModel.ServiceOrderId)
            .ToList();

            if (reportsForServiceOrder.Any())
            {
                <!-- Reports table -->
                <table>
                    <tr>
                        <th>Report ID</th>
                        <th>Mekaniker</th>
                        <th>Service Type</th>
                        <th>Mekaniker Kommentar</th>
                        <th>Service Beskrivelse</th>
                        <th>Rapport Dato</th>
                        <th>Signatur</th>
                        <!-- Add other Report properties here -->
                    </tr>
                    @foreach (var report in reportsForServiceOrder)
                    {
                        <tr>
                            <td>@report.ReportId</td>
                            <td>@report.Mechanic</td>
                            <td>@report.ServiceType</td>
                            <td>@report.MechanicComment</td>
                            <td>@report.ServiceDescription</td>
                            <td>@report.ReportWriteDate</td>
                            <td>@report.UserSign</td>
                            <!-- Add other Report properties here -->
                        </tr>
                    }
                </table>
            }
            else
            {
                <p>No reports for the specified service order.
                <p>@Model.ServiceOrderModel.UpsertModel.ServiceOrderId</p></p>
            }
        }
        else
        {
            <p>
                No reports
                @if (Model.ReportModel.UpsertModel == null)
                {
                    <strong>Report is null.</strong>
                }
            </p>
        }

        <p class="button-container">
            <!-- Add navigation back to the list or other actions as needed -->
            <td class="clickable"><a class="black button" href="@Url.Action("Index", "Report", new { id = @Model.ServiceOrderModel.UpsertModel.ServiceOrderId })">Rapport side</a></td>
            <a asp-action="Index" class="button">Tilbake til liste</a>
        </p>
    </div>
</body>

</html>
