@using AdminDesk.Models.ServiceOrder;
@model ServiceOrderFullViewModel

<!DOCTYPE html>

<head>
    <title>Service Order Details</title>
</head>
<body>
    <h1>Service Order Details</h1>
    <table>
        <tr>
            <th>ID</th>
            <td>@Model.UpsertModel.ServiceOrderId</td>
        </tr>
        <tr>
            <th>Customer Id</th>
            <td>@Model.UpsertModel.CustomerId</td>
        </tr>
        <h2>Customer Details</h2>

        @if (Model.UpsertModel.Customer != null)
        {
            <table>
                <tr>
                    <th>Customer ID</th>
                    <td>@Model.UpsertModel.Customer.CustomerId</td>
                    <td>@Model.UpsertModel.Customer.CustomerFirstName</td>
                    <td>@Model.UpsertModel.Customer.CustomerLastName</td>
                    <!-- Add other Customer details as needed -->
                </tr>
            </table>
        }
        else
        {
            <p>
                No customer information available. @if (Model.UpsertModel.Customer == null)
                {<strong>Customer is null.</strong>}
            </p>
        }

        <!-- Add other rows for additional properties -->
    </table>
    <td class="clickable"><a class="black" href="@Url.Action("Report", "ServiceOrder", new { id = @Model.UpsertModel.ServiceOrderId })">Report Side</a></td>
    <p>
        <!-- Add navigation back to the list or other actions as needed -->
        <a asp-action="Index">Back to List</a>
    </p>

</body>
