@page
@model AdminDesk.Areas.Identity.Pages.Account.Manage.IndexModel

<<<<<<< HEAD
@{
    ViewData["Title"] = "Bruker Panel";

}

<h1>Manage Users</h1>
<h3>User Information</h3>
=======
<h1>Administrer brukere</h1>
<h3>Brukerinformasjon:</h3>
>>>>>>> fdf6c231e4c5c5342ea40065843673c72baffa40
<a asp-area="Identity" asp-page="./Register" class="btn btn-primary">Ny Bruker</a>

<table class="table">
    <thead>
        <tr>
            <th>User Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Two-Factor Authentication Enabled</th>
            <th>Lockout Enabled</th>
            <th>Access Failed Count</th>
            <th>Edit/Save</th>
            <th>Disable</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td data-id="@user.Id" data-property="UserName">@user.UserName</td>
                <td data-id="@user.Id" data-property="Email">@user.Email</td>
                <td data-id="@user.Id" data-property="PhoneNumber">@await Model.UserManager.GetPhoneNumberAsync(user)</td>
                <td data-id="@user.Id" data-property="TwoFactorEnabled">@await Model.UserManager.GetTwoFactorEnabledAsync(user)</td>
                <td data-id="@user.Id" data-property="LockoutEnabled">@await Model.UserManager.GetLockoutEnabledAsync(user)</td>
                <td data-id="@user.Id" data-property="AccessFailedCount">@await Model.UserManager.GetAccessFailedCountAsync(user)</td>



                <td><a asp-area="Identity" asp-page="./UserEdit" asp-route-id="@user.Id" class="btn btn-primary">Rediger</a></td>
                <td><a asp-area="Identity" asp-page="./UserDisabled" asp-route-id="@user.Id" asp-route-area="Identity" class="btn btn-primary red">Deaktiver</a></td>


                <td>
                </td>

            </tr>
        }
    </tbody>
</table>

