@page
@model AdminDesk.Areas.Identity.Pages.Account.Manage.IndexModel

@{
    ViewData["Title"] = "Bruker Panel";
}

<h1>Manage Users</h1>
<h3>User Information</h3>
<a asp-area="Identity" asp-page="./Register" class="btn btn-primary">Ny Bruker</a>

<div class="form-group">
    <label for="showUsersDropdown" class="form-label">Sorter</label>
    <select class="form-control" id="showUsersDropdown" onchange="filterUsers(this.value)">
        <option value="non-disabled">Aktive Brukere</option>
        <option value="alle">Alle Brukere</option>
        <option value="disabled">Deaktive Brukere</option>
    </select>
</div>


<table class="table">
    <thead>
        <tr>
            <th>Brukernavn</th>
            <th>Email</th>
            <th>TelefonNummer</th>
            <th>TFA Aktiv</th>
            <th>Rolle</th> 

            <th>Rediger</th>
            <th>Aktiv/Ikke</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            var userDisabled = Model.UsersWithDisabledInfo.FirstOrDefault(u => u.User.Id == user.Id)?.UserDisabled;

            <tr class="user-row">
                <td data-id="@user.Id" data-property="UserName">@user.UserName</td>
                <td data-id="@user.Id" data-property="Email">@user.Email</td>
                <td data-id="@user.Id" data-property="PhoneNumber">@await Model.UserManager.GetPhoneNumberAsync(user)</td>
                <td data-id="@user.Id" data-property="TwoFactorEnabled">@await Model.UserManager.GetTwoFactorEnabledAsync(user)</td>

                <td data-id="@user.Id" data-property="Roles">@string.Join(", ", await Model.UserManager.GetRolesAsync(user))</td>


                <td><a asp-area="Identity" asp-page="./UserEdit" asp-route-id="@user.Id" class="btn btn-primary">Rediger</a></td>

                <td>
                    @if (userDisabled != null && userDisabled.Disabled)
                    {
                        <a asp-area="Identity" asp-page="./UserDisabled" asp-route-id="@user.Id" asp-route-area="Identity" class="btn-red btn">Deaktiv</a>
                    }
                    else
                    {

                        <a asp-area="Identity" asp-page="./UserDisabled" asp-route-id="@user.Id" asp-route-area="Identity" class="btn btn-success">Aktiv</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {

    <script>$(document).ready(function () {
            filterUsers('non-disabled'); // Initially load only active users
        });

        function filterUsers(selectedValue) {
            $(".user-row").hide(); // Hide all rows initially

            if (selectedValue === "non-disabled") {
                $(".user-row:not(:has(.btn-red))").show(); // Show only active users
            } else if (selectedValue === "alle") {
                $(".user-row").show(); // Show all users
            } else if (selectedValue === "disabled") {
                $(".user-row:has(.btn-red)").show(); // Show only disabled users
            }
        }</script>
}
