@model Nøsted_Serviceordre_Behandling.Models.Serviceordre

@{
    ViewData["Title"] = "Delete";
}
<style>
    html, body {
        background-color: #d9e5eb;
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        color: #313638;
    }

    h1, h3 {
        text-align: center;
    }

    .button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #88afc2;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        color: black;
    }

    .button-container {
        text-align: center;
    }

        .button:hover {
            background-color: rgb(251, 114, 19);
            color: #9cb7c2;
        }
</style>

<h1>Slette</h1>

<h3>Er du sikker på at du vil slette?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Navn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Navn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefon)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mottatt_dato)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mottatt_dato)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Adresse)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ordrenummer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ordrenummer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceordreStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceordreStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Arbeidstimer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Arbeidstimer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reparatør)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reparatør)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <div class="button-container">
            <input type="submit" value="Delete" class="button" />
            <a asp-action="Index" class="button">Back to List</a>
        </div>
    </form>
</div>
