<head>
    <link rel="stylesheet" href="@Url.Content("~/css/site.css")">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
        $(document).ready(function () {
            $(".clickable").click(function () {
                window.location = $(this).find("a").attr("href");
            });
        });
    </script>

    <style>
        html, body {
            font-size: 1rem;
            background-color: #d9e5eb;
            margin: 0;
            padding: 0;
            font-family: sans-serif;
            color: #313638;
        }

        h1 {
            font-size: 1rem;
            text-align: center;
            margin-top: 5%;
        }

        p {
            font-size: 1rem;
            margin-top: 1rem;
            text-align: center;
        }

        table {
            font-size: 1rem;
            border-collapse: collapse;
            width: 100% !important;
            margin-top: 1% !important;
            margin: auto;
        }

        th, td {
            font-size: 1rem;
            width: 15rem;
            border: 1px solid #000;
            padding: 1%;
            text-align: center;
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #e0e0e0;
        }
    </style>
</head>
<body>
    <div class="blokk">
        <div class="Top">
            Serviceordrer
        </div>
        <div class="TopMid">
            Sorter: Lav til høyt
        </div>
        <div class="Bottom">
            <table>
                <tr>
                    <th>Ordrenummer</th>
                    <th>Kunde Fornavn</th>
                    <th>Kunde Etternavn</th>
                    <th>Kunde Nummer</th>
                    <th>Telefon Nummer</th>
                    <th>Ordre Status</th>
                    <th>Dato Opprettet</th>
                    <th>Reperatør</th>
                </tr>
                @foreach (var serviceOrder in Model.ServiceOrderList)
                {
                    @if (serviceOrder.OrderStatus == "Fullført")
                    {
                        <tr>
                            <td class="clickable"><a class="black" href="@Url.Action("Spesific", "ServiceOrder", new { id = serviceOrder.ServiceOrderId })">@serviceOrder.ServiceOrderId</a></td>
                            <td class="clickable"><a class="black" href="@Url.Action("Spesific", "ServiceOrder", new { id = serviceOrder.ServiceOrderId })">@serviceOrder.Customer?.CustomerFirstName</a></td>
                            <td class="clickable"><a class="black" href="@Url.Action("Spesific", "ServiceOrder", new { id = serviceOrder.ServiceOrderId })">@serviceOrder.Customer?.CustomerLastName</a></td>
                            <td class="clickable"><a class="black" href="@Url.Action("Spesific", "ServiceOrder", new { id = serviceOrder.ServiceOrderId })">@serviceOrder.Customer.CustomerId</a></td>
                            <td class="clickable"><a class="black" href="@Url.Action("Spesific", "ServiceOrder", new { id = serviceOrder.ServiceOrderId })">@serviceOrder.Customer?.CustomerPhoneNumber</a></td>
                            <td class="clickable"><a class="black" href="@Url.Action("Spesific", "ServiceOrder", new { id = serviceOrder.ServiceOrderId })">@serviceOrder.OrderStatus</a></td>
                            <td class="clickable"><a class="black" href="@Url.Action("Spesific", "ServiceOrder", new { id = serviceOrder.ServiceOrderId })">@serviceOrder.CreatedDate</a></td>
                            <td class="clickable"><a class="black" href="@Url.Action("Spesific", "ServiceOrder", new { id = serviceOrder.ServiceOrderId })">@serviceOrder.Mechanic</a></td>
                        </tr>
                    }
                }
            </table>
        </div>
</body>