@model IEnumerable<Nøsted_Serviceordre_Behandling.Models.Serviceordre>

@{
    ViewData["Title"] = "Index";
}
﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rapport for serviceordre</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
        }

        form {
            max-width: 70%;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            margin-bottom: 40px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .section {
            display: flex;
            margin-top: 20px;
            justify-content: space-between;
            margin-bottom: 5px;
        }

            .section input {
                width: calc(50% - 8px);
                padding: 10px;
                margin-bottom: 15px;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
            }

        .other-section {
            margin-top: 20px;
        }

            .other-section label {
                display: inline-block;
                width: 200px;
                margin-bottom: 8px;
            }

            .other-section input,
            .other-section select {
                display: inline-block;
                width: calc(50% - 8px);
                padding: 10px;
                margin-bottom: 10px;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
            }

            .other-section textarea {
                display: inline-block;
                width: calc(100% - 8px);
                padding: 10px;
                margin-bottom: 10px;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
            }


        .custom-button {
            background-color: #88afc2;
            margin: 0 auto;
            color: black;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }

            .custom-button:hover {
                background-color: rgb(251, 114, 19);
            }
    </style>
</head>
<body>

    @foreach (var Serviceordre in Model)
    {
        <form action="@Url.Action("Index", "Rapport", new { id = Serviceordre.id })" method="post">
            <h2>Rapport for serviceordre</h2>

            <div class="section">
                <input type="text" id="kundeNavn_@Serviceordre.id" name="kundeNavn" placeholder="Kunde Navn" value="@Serviceordre.Navn" required>
                <input type="text" id="ordreNummer_@Serviceordre.id" name="ordreNummer" placeholder="Ordrenummer" value="@Serviceordre.Ordrenummer" required>
            </div>

            <div class="section">
                <input type="text" id="Email" name="Email" placeholder="Email" value="@Serviceordre.Email" required>
                <input type="text" id="Telefon" name="Telefon" placeholder="Telefon nummer" value="@Serviceordre.Telefon" required>
            </div> 

            <div class="section">
                <input type="text" id="Adresse" name="Adresse" placeholder="Adresse" value="@Serviceordre.Adresse" required>
                <input type="text" id="mottatDato" name="mottatDato" placeholder="Mottat Dato" value="@Serviceordre.Mottatt_dato" required>
            </div>

            <div class="section">
                <input type="text" id="serviceStatus" name="serviceStatus" placeholder="Serviceordre Status" value="@Serviceordre.ServiceordreStatus" required>
                <input type="text" id="arbeidsTimer" name="arbeidsTimer" placeholder="Arbeidstimer" value="@Serviceordre.Arbeidstimer" required>
            </div>

            <label for="Reparatør">Reparatør:</label>
            <input type="tel" id="Reparatør" name="Reparatør" required>

            <div class="other-section">
                <label for="serviceType">Service Type:</label>
                <select id="serviceType" name="serviceType" required>
                    <option value="Vedlikehold">Vedlikehold</option>
                    <option value="Reparasjon">Reparere</option>
                    <option value="installasjon">Installasjon</option>
                </select>
            </div>

            <div class="other-section">
                <label for="serviceDescription">Hva er avtalt med kunden?</label>
                <textarea id="serviceDescription" name="serviceDescription" rows="4" required></textarea>
            </div>

            <div class="other-section">
                <label for="serviceDescription">Servicebeskrivelse:</label>
                <textarea id="serviceDescription" name="serviceDescription" rows="4" required></textarea>
            </div>

            <div class="other-section">
                <label for="serviceDescription">Medgåtte deler:</label>
                <textarea id="serviceDescription" name="serviceDescription" rows="4" required></textarea>
            </div>

            <div class="section">
                <input type="text" id="serieNummer" name="serieNummer" placeholder="Serienummer" required>
                <input type="text" id="ferdigstiltDato" name="ferdigstiltDato" placeholder="Ferdigstilt dato" required>
            </div>

            <div class="section">
                <input type="text" id="signKunde" name="signKunde" placeholder="Sign. kunde" required>
                <input type="text" id="signReparatør" name="signReparatør" placeholder="Sign. reparatør" required>
            </div>

            <button class="custom-button" type="submit">Send inn rapporten</button>
        </form>
    }

</body>
</html>



